<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/common.css' %}" type="text/css">
</head>
<body>
<h1>{{title}}</h1>
<div class="logged-user">{{logged_user}}</div>
{% for post in posts %}
    <div class="post-box">
        <div class="post-date">{{post.get_date}}</div>
        <h3 class="subject-header">{{post.subject}}</h3>
        <div class="message-body">{{post.message}}</div>
        <div class="user-name">{{post.user_name}}</div>
    </div>
{% endfor %}
</body>
</html>